@import 'tailwindcss';

@layer base{
       body{
              font-family: Archivo;
       }
       @font-face {
              font-family: Archivo;
              src: url(../font/Archivo/Archivo-VariableFont_wdth\,wght.ttf);
       }
}

@layer utilities{
  .row{
    @apply flex flex-wrap w-full;
  }
}



@theme {
   --color-purple: #7322ff;
    --color-lightgreen: #93f3aa;
    --color-pink: #fe7bff;
    --color-black: #1d1a40;
    --color-grey: #70758c;
    --color-light: #eaedf6;
    --color-white: #fff;
  --animate-marquee2: marquee2 10s ease-in-out  infinite;
  --animate-rotate: rotate 10s linear alternate;
  --animate-marquee: marquee 10s ease-in-out  infinite;

  @keyframes marquee2 {
    0%,
    100% {
      transform: translatex(-200px)
    }
    50% {
      transform: translatex(0)
    }
  }
  @keyframes rotate{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
  }
  @keyframes marquee {
    0%,
    100% {
      transform: translatex(0)
    }
    50% {
      transform: translatex(-80%)
    }
  }
  
}

@layer components{
       .card{
              @apply w-full md:w-1/3 xl:w-1/4 grow-1 h-[350px] rounded-[10px] bg-white *:w-full flex p-4
              shadow-2xl shadow-gray-100 flex-wrap justify-center duration-400 hover:-translate-y-[10px]
              hover:shadow-gray-300 cursor-pointer
       }
}


